@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.font-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-body {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
